__pycache__/
*.py[cod]
*$py.class

*.so

.gitignore
.vscode/
.vs/

.env
.venv/
env/
venv/

.ipynb_checkpoints

*.spec

build/
dist/
bin/
*.egg-info/

*.log
activity.json
config.json
tokens.txt
.flake8

.DS_Store
Thumbs.db

